body {
  font-family: 'Open Sans';
  font-style: normal;
  font-variant: normal;
}

.section {
  margin-top: -85px;
  padding: 85px 0;
}

.section .container-fluid {
  padding-bottom: 85px;
}

#brand .cover {
  width: 100%;
  height: auto;
}

#brand .flag {
  top: 2px !important;
  position: relative;
}

.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}

.image img {
  position: absolute;
}

.navbar-toggle {
  border-color: #000;
}

.navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-toggle.collapsed {
  background-color: #000;
}

.navbar-toggle.collapsed .icon-bar {
  background-color: #FFF;
}

.navbar-no-collapse {
  display: block !important;
}

.navbar-no-collapse .navbar-nav>li,
.navbar-no-collapse .navbar-nav {
  float: left !important;
}

.navbar-no-collapse .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-no-collapse .navbar-right {
  float: right !important;
}

#brand .navbar {
  margin-bottom: 0;
  border: 0;
  background-color: #FFFFFF;
  border-radius: 0;
}

#brand .navbar.affix {
  top: 0;
  width: 100%;
  z-index: 16;
}

#brand .navbar-brand,
#brand .navbar-nav li a {
  line-height: 85px;
  height: 85px;
  padding-top: 0;
  color: #000;
}

#brand .navbar-nav li a:hover {
  background-color: #000000;
  color: #FFFFFF;
}

#group {
  background-color: #E85E00;
  color: #FFFFFF;
}

#music {
  background-color: #FFFFFF;
}

#music img {
  height: 600px;
}

#music .btn-group {
  max-width: 600px;
}

#music ul {
  list-style-type: none;
}

#music .btn-group a {
  font-size: 1.3em;
}

#music .btn-group a.btn-spotify {
  background-color: #23CF5F;
  color: #FFFFFF;
}

#music .btn-group a.btn-spotify:hover {
  background-color: #15853C;
}

#music .btn-group a.btn-soundcloud {
  background-color: #FF5500;
  color: #FFFFFF;
}

#music .btn-group a.btn-soundcloud:hover {
  background-color: #E04B00;
}

#videos {
  background-color: #000000;
  color: #ffffff;
}

#press {
  background-color: #E85E00;
  color: #FFFFFF;
}

#contact {
  background-color: #FFFFFF;
}


#affix-header.affix {
  position: fixed !important;
  top: 0;
  width: 100%;
}